header {
    display: flex;
    height: 60px;
    align-items: center;
    background: var(--secondary-color);
    color: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    p.title {
        margin: 0;
        margin-left: 15px;
    }

    .icons {
        margin-left: 10px;
    }

}